SYSCONFIG SLAVE_SPI_PORT=DISABLE CONFIG_MODE=JTAG CONFIG_SECURE=OFF TRANSFR=OFF MASTER_SPI_PORT=DISABLE SLAVE_PARALLEL_PORT=DISABLE MCCLK_FREQ=38.8 BACKGROUND_RECONFIG=OFF ;

LOCATE COMP "clk" SITE "P6";
IOBUF PORT  "clk" IO_TYPE=LVCMOS33;

LOCATE COMP "led"     SITE "P11";
IOBUF PORT  "led"     OPENDRAIN=ON IO_TYPE=LVCMOS33;
LOCATE COMP "button"  SITE "M13";
IOBUF PORT  "button"  IO_TYPE=LVCMOS33;

LOCATE COMP "uart0_txd"   SITE "F16";
IOBUF PORT  "uart0_txd"   IO_TYPE=LVCMOS33;
LOCATE COMP "uart0_rxd"   SITE "A15";
IOBUF PORT  "uart0_rxd"   IO_TYPE=LVCMOS33;


LOCATE COMP "spiCs"       SITE "N8";  // Flash CS
LOCATE COMP "spiOut"      SITE "T8";  // Flash MOSI
LOCATE COMP "spiIn"       SITE "T7";  // Flash MISO